In [6]:
import pandas as pd
import numpy as np
from collections import Counter
import math
import webbrowser

In [7]:
import dash
from dash import dcc, html
from dash.exceptions import PreventUpdate
from dash.dependencies import Input, Output
import plotly.express as px
import plotly.graph_objects as go
import dash_bootstrap_components as dbc
from plotly.subplots import make_subplots

In [8]:
df = pd.read_csv('CAERS_ASCII_2004_2017Q2.csv')
df.head()

,RA_Report #,RA_CAERS Created Date,AEC_Event Start Date,PRI_Product Role,PRI_Reported Brand/Product Name,PRI_FDA Industry Code,PRI_FDA Industry Name,CI_Age at Adverse Event,CI_Age Unit,CI_Gender,AEC_One Row Outcomes,SYM_One Row Coded Symptoms
0,65325,01-01-2004,08-04-2003,Suspect,MIDWEST COUNTRY FAIR CHOCOLATE FLAVORED CHIPS,3,Bakery Prod/Dough/Mix/Icing,2.0,Year(s),Female,"VISITED AN ER, VISITED A HEALTH CARE PROVIDER,...","SWELLING FACE, RASH, WHEEZING, COUGH, HOSPITAL..."
1,65325,01-01-2004,08-04-2003,Suspect,MIDWEST COUNTRY FAIR CHOCOLATE FLAVORED CHIPS,3,Bakery Prod/Dough/Mix/Icing,2.0,Year(s),Female,"VISITED AN ER, VISITED A HEALTH CARE PROVIDER,...","SWELLING FACE, WHEEZING, COUGH, RASH, HOSPITAL..."
2,65333,01-01-2004,NaN,Suspect,KROGER CLASSIC CREAM-DE-MINT CANDY MINT CHIP I...,13,Ice Cream Prod,NaN,Not Available,Female,VISITED AN ER,"NAUSEA, DYSGEUSIA, DIARRHOEA"
3,65335,01-01-2004,11/24/2003,Suspect,ENFAMIL LIPIL BABY FORMULA,40,Baby Food Prod,3.0,Month(s),Not Available,NON-SERIOUS INJURIES/ ILLNESS,"GASTROINTESTINAL DISORDER, VOMITING"
4,65336,01-01-2004,NaN,Suspect,ENFIMIL LIPIL BABY FORMULA,40,Baby Food Prod,NaN,Not Available,Not Available,VISITED A HEALTH CARE PROVIDER,"GASTROINTESTINAL DISORDER, PHYSICAL EXAMINATION"

In [9]:
temp_df = df.copy()

# Q1

In [10]:
temp_df['AEC_Event Start Date'] = pd.to_datetime(temp_df['AEC_Event Start Date'])

In [11]:
temp_df['CI_Gender'].unique()

array(['Female', 'Not Available', 'Male', 'Unknown', 'Not Reported'],
      dtype=object)

In [12]:
for name in temp_df['CI_Gender'].unique():
    if(name == 'Female'):
        temp_df['CI_Gender'] = temp_df['CI_Gender'].replace(name,0)
    elif(name == 'Male'):
        temp_df['CI_Gender'] = temp_df['CI_Gender'].replace(name,1)
    else:
        temp_df['CI_Gender'] = temp_df['CI_Gender'].replace(name,2)
temp_df = temp_df.replace(' ',np.nan)

In [13]:
temp_df['CI_Gender'].unique()

array([0, 2, 1], dtype=int64)

In [14]:
# df['CI_Gender'] = df['CI_Gender'].replace('Female',0)
# df['CI_Gender'] = df['CI_Gender'].replace('Male',1)

In [15]:
temp_df['AEC_Event Start Date'].replace('', np.nan, inplace=True)
temp_df.dropna(subset=['AEC_Event Start Date'], inplace=True)
temp_df.shape

(53653, 12)

In [16]:
data = temp_df[['AEC_Event Start Date','CI_Gender']]

In [17]:
data.to_csv('q1.csv',index=False)

In [18]:
dt = pd.read_csv('q1.csv')

In [19]:
years = []
for i in range(0,dt['AEC_Event Start Date'].shape[0]):
    date = pd.to_datetime(dt['AEC_Event Start Date'][i])
    date = str(date).split()[0]
    year = pd.to_numeric(date.split('-')[0])
    years.append(year)

In [20]:
dt['years'] = years

In [21]:
dt.head(2)

  AEC_Event Start Date  CI_Gender  years
0           2003-08-04          0   2003
1           2003-08-04          0   2003

In [22]:
data_count_by_year = dt.groupby('years')['CI_Gender'].count()

In [23]:
data_count_by_year = data_count_by_year.to_dict()

In [24]:
# dt = dt[(dt['CI_Gender'].str.contains('0', na=False)) | (dt['CI_Gender'].str.contains('1', na=False))]
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53653 entries, 0 to 53652
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AEC_Event Start Date  53653 non-null  object
 1   CI_Gender             53653 non-null  int64
 2   years                 53653 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.2+ MB

In [25]:
dt['CI_Gender'] = pd.to_numeric(dt['CI_Gender'])
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53653 entries, 0 to 53652
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AEC_Event Start Date  53653 non-null  object
 1   CI_Gender             53653 non-null  int64
 2   years                 53653 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.2+ MB

In [26]:
dt.index = dt['years']

In [27]:
dt_zeros = dt.where(dt['CI_Gender'] == 0)
dt_ones = dt.where(dt['CI_Gender'] == 1)
dt_unknown = dt.where(dt['CI_Gender'] == 2)

In [28]:
dt_zeros = dt_zeros.dropna()
dt_ones = dt_ones.dropna()
dt_unknown = dt_unknown.dropna()

In [29]:
dt_zeros = dt_zeros.groupby(dt_zeros.index)['CI_Gender'].count()
dt_ones = dt_ones.groupby(dt_ones.index)['CI_Gender'].count()
dt_unknown = dt_unknown.groupby(dt_unknown.index)['CI_Gender'].count()

In [30]:
dt_zeros_female = dt_zeros.to_dict()
dt_ones_male = dt_ones.to_dict()
dt_twos_unknown = dt_unknown.to_dict()

In [31]:
years = []
total_entries = []
male = []
female = []
unknown = []

for key,value in data_count_by_year.items():
    #Female
    if key in dt_zeros_female:
        female.append(dt_zeros_female[key])
    else:
        female.append(0)

    #Male
    if key in dt_ones_male:
        male.append(dt_ones_male[key])
    else:
        male.append(0)

    #Unknown
    if key in dt_twos_unknown:
        unknown.append(dt_twos_unknown[key])
    else:
        unknown.append(0)
    years.append(key)
    total_entries.append(value)

In [32]:
d = {'Years' : years,
    'Male' : male,
    'Female' : female,
    'Unknown' : unknown,
    'Total_entries' : total_entries}
q1_final_df = pd.DataFrame(d)

In [33]:
def percentage(part, whole):
    percentage = 100 * float(part)/float(whole)
    return round(percentage,2)

# print(percentage(3, 5))

In [34]:
male_percent_list = []
female_percent_list = []
unknown_percent_list = []
for index, row in q1_final_df.iterrows():
    male_percent = percentage(row['Male'], row['Total_entries'])
    female_percent = percentage(row['Female'], row['Total_entries'])
    unknown_percent = percentage(row['Unknown'], row['Total_entries'])
    
    male_percent_list.append(male_percent)
    female_percent_list.append(female_percent)
    unknown_percent_list.append(unknown_percent)

In [35]:
q1_final_df['Male_percentage'] = male_percent_list
q1_final_df['Female_percentage'] = female_percent_list
q1_final_df['Unknown_percentage'] = unknown_percent_list

# Q2

In [36]:
dt_symptoms = df['SYM_One Row Coded Symptoms']
dt_symptoms

0        SWELLING FACE, RASH, WHEEZING, COUGH, HOSPITAL...
1        SWELLING FACE, WHEEZING, COUGH, RASH, HOSPITAL...
2                             NAUSEA, DYSGEUSIA, DIARRHOEA
3                      GASTROINTESTINAL DISORDER, VOMITING
4          GASTROINTESTINAL DISORDER, PHYSICAL EXAMINATION
                               ...
90781                                             SWELLING
90782                                             SWELLING
90783                                             SWELLING
90784                            VOMITING, URTICARIA, RASH
90785                            VOMITING, URTICARIA, RASH
Name: SYM_One Row Coded Symptoms, Length: 90786, dtype: object

In [37]:
symptoms_list  = []
for i in range(0,len(dt_symptoms)):
    temp = str(dt_symptoms[i])
    temp = temp.split(',')
    
    for j in range(0,len(temp)):
        txt = temp[j].strip()
        temp[j] = txt
    symptoms_list.extend(temp)

In [38]:
symptoms_count = dict(Counter(symptoms_list))
# print(symptoms_count)

In [39]:
q2_final_df = pd.DataFrame([symptoms_count])

In [40]:
q2_final_df = q2_final_df.transpose()

In [41]:
q2_final_df.rename(columns={0: "values"},inplace=True)

In [42]:
q2_final_df.sort_values('values',ascending=False,inplace=True)

# Q3

In [43]:
third_df = df.copy()

In [44]:
third_df.columns

Index(['RA_Report #', 'RA_CAERS Created Date', 'AEC_Event Start Date',
       'PRI_Product Role', 'PRI_Reported Brand/Product Name',
       'PRI_FDA Industry Code', 'PRI_FDA Industry Name',
       'CI_Age at Adverse Event', 'CI_Age Unit', 'CI_Gender',
       'AEC_One Row Outcomes', 'SYM_One Row Coded Symptoms'],
      dtype='object')

In [45]:
q3_final_df = pd.DataFrame()

In [46]:
for industry in third_df['PRI_FDA Industry Name'].unique():
    temp_looped_df = pd.DataFrame()
    temp_df = third_df[third_df['PRI_FDA Industry Name'] == industry]

    events_splitted_lst = []
    for colval in temp_df['AEC_One Row Outcomes']:
        temp = colval.split(',')
        
        for j in range(0,len(temp)):
            txt = temp[j].strip()
            temp[j] = txt 
        events_splitted_lst.extend(temp)

    Events_count = dict(Counter(events_splitted_lst))

    Industry_name = []
    event = []
    counts = []
    for key,value in Events_count.items():
        Industry_name.append(industry)
        event.append(key)
        counts.append(value)

    dic = {
    'Industry Name' : Industry_name,
    'Events' : event,
    'Count' : counts
    }

    temp_looped_df = pd.DataFrame(dic)
    q3_final_df = q3_final_df.append(temp_looped_df)

In [47]:
q3_final_df

,Industry Name,Events,Count
0,Bakery Prod/Dough/Mix/Icing,VISITED AN ER,371
1,Bakery Prod/Dough/Mix/Icing,VISITED A HEALTH CARE PROVIDER,370
2,Bakery Prod/Dough/Mix/Icing,REQ. INTERVENTION TO PRVNT PERM. IMPRMNT.,121
3,Bakery Prod/Dough/Mix/Icing,HOSPITALIZATION,119
4,Bakery Prod/Dough/Mix/Icing,NON-SERIOUS INJURIES/ ILLNESS,1923
...,...,...,...
5,Color Additiv Food/Drug/Cosmetic,DISABILITY,3
6,Color Additiv Food/Drug/Cosmetic,HOSPITALIZATION,1
7,Color Additiv Food/Drug/Cosmetic,LIFE THREATENING,3
0,Not Available,OTHER SERIOUS (IMPORTANT MEDICAL EVENTS),1
0,EDIBLE INSECTS AND INSECT-DERIVED FOODS,NON-SERIOUS INJURIES/ ILLNESS,1

In [48]:
filter_list = ['Not Available', 'Bakery Prod/Dough/Mix/Icing']
q3_final_df[q3_final_df['Industry Name'].isin(filter_list)]

,Industry Name,Events,Count
0,Bakery Prod/Dough/Mix/Icing,VISITED AN ER,371
1,Bakery Prod/Dough/Mix/Icing,VISITED A HEALTH CARE PROVIDER,370
2,Bakery Prod/Dough/Mix/Icing,REQ. INTERVENTION TO PRVNT PERM. IMPRMNT.,121
3,Bakery Prod/Dough/Mix/Icing,HOSPITALIZATION,119
4,Bakery Prod/Dough/Mix/Icing,NON-SERIOUS INJURIES/ ILLNESS,1923
5,Bakery Prod/Dough/Mix/Icing,LIFE THREATENING,132
6,Bakery Prod/Dough/Mix/Icing,DEATH,13
7,Bakery Prod/Dough/Mix/Icing,SERIOUS INJURIES/ ILLNESS,8
8,Bakery Prod/Dough/Mix/Icing,NONE,19
9,Bakery Prod/Dough/Mix/Icing,OTHER SERIOUS (IMPORTANT MEDICAL EVENTS),83
10,Bakery Prod/Dough/Mix/Icing,DISABILITY,18
11,Bakery Prod/Dough/Mix/Icing,CONGENITAL ANOMALY,1
0,Not Available,OTHER SERIOUS (IMPORTANT MEDICAL EVENTS),1

In [49]:
sum_df = pd.DataFrame(columns = ['Industries','Total no of Events'])
for indus in q3_final_df['Industry Name'].unique(): 
    temp = q3_final_df[q3_final_df['Industry Name'] == indus]
    sum_df = sum_df.append({'Industries' : indus,
                  'Total no of Events' : temp.Count.sum()},
                  ignore_index=True)

In [50]:
sum_df.sort_values('Total no of Events',ascending=False,inplace=True)

In [51]:
sum_df.head()

                                Industries Total no of Events
5   Vit/Min/Prot/Unconv Diet(Human/Animal)              75683
7                                Cosmetics              17284
19                        Nuts/Edible Seed               3891
15           Vegetables/Vegetable Products               3561
6                         Soft Drink/Water               3335

# Plotly

In [53]:
BS = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
app = dash.Dash(__name__,external_stylesheets=[BS,dbc.themes.BOOTSTRAP])
app.layout = html.Div([
    ###########Q1 Header###########
    html.H2(
        className='q1Header',
        children=''),
    ###########Q1 Filter Table###########
    html.Div([
        html.Table([
            html.Tr([
                html.Td(html.P(className='From', children='From : ')),
                html.Td(
                    dcc.Dropdown(className='from_year_dropdown',
                                 id='from-year-dropdown',
                                 options=[{
                                     'label': year,
                                     'value': year
                                 } for year in q1_final_df.Years],
                                 value=q1_final_df.Years.max() - 10,
                                 clearable=False)),
                html.Td(html.P(className='To', children='To : ')),
                html.Td(
                    dcc.Dropdown(className='to_year_dropdown',
                                 id='to-year-dropdown',
                                 options=[{
                                     'label': year,
                                     'value': year
                                 } for year in q1_final_df.Years],
                                 value=q1_final_df.Years.max(),
                                 clearable=False))
            ])
        ])
    ]),
    ###########Q1 Charts###########
    html.Div([
        html.Div(className="q1_bar_chart",
                 children=[dcc.Graph(id='q1_bar_graph')]),
        html.Div(className="q1_pie_chart",
                 children=[dcc.Graph(id='q1_pie_graph')])
    ]),
    html.Div([html.Hr(className='Q_hr')]),
    html.Div([
        ###########Q2 Header############
        html.H2(
            className='q2Header',
            children=''),
        ############Q2 Graph############
        html.Div(className='q2_graph',
                 children=[dcc.Graph(id='q2_bar_chart')]),
        ###########Q2 graph Filters###########
        html.Div(className='q2_graph_filters',
                 children=[
                     html.Div([html.P(className='filter',
                                      children='Range')]),
                     html.Div([
                     html.Div(className='range',
                              children=[
                                  dcc.Input(id='range',
                                            type='text',
                                            placeholder='Eg.1-10',
                                            value='1-10')
                              ]),
                     html.Div(className='end',
                              children=[
                                  html.Div([
                                      html.Ul(className = 'q2_graph_text',
                                              children = [
                                                  html.Li(['Mention the range to be displayed in graph.']),
                                                  html.Li(['Symptoms have been arranged in descending order.']),
                                                  html.Li(['For better readability use the range of difference is less than or equal to 10.'])
                                      ])
                                  ])
                              ])
                     ])
                 ])
    ]),
    html.Div([html.Hr(className='Q_hr')]),
    html.Div([
        ###########Q3 Header###########
        html.H2(
            className='q3Header',
            children= ''
        ),
        ###########Q3 Top 10 Graph###########
        html.Div([
            dcc.Graph(
                figure = px.bar(sum_df[0:10],
                                y = 'Total no of Events',
                                x = 'Industries',
                               title='Top 10 Industries with Most Adverse Events')
            )
        ]),
        html.Div(
            className = 'q3_subplot_main_div',
            children=[
                html.Div(
                    className = 'industries_drop_down',
                    children = [
                    dbc.DropdownMenu(
                        label = 'Select the Industries',
                        children=[
                            dcc.Checklist(
                                id = 'industries_drop_down',
                                options=[{
                                    'label': industry, 
                                    'value': industry
                                } for industry in q3_final_df['Industry Name'].unique()
                                ],
                                value=[q3_final_df['Industry Name'].unique()[0]],
                                labelStyle={'display': 'block'}
                            )
                        ]
                    )
                ]),
                html.Div(
                    className = 'events_div',
                    id = 'event_drop_down'
                )
            ]),
        html.Div([
            html.Div([
                dcc.Graph(id = 'compare_subplots')
            ])
        ])
    ])
])


@app.callback(
    [Output('q1_bar_graph', 'figure'),
     Output('q1_pie_graph', 'figure')],
    [Input('from-year-dropdown', 'value'),
     Input('to-year-dropdown', 'value')])
def update_q1_bar_pie_chart(from_value, to_value):
    
    if from_value > to_value:
        raise PreventUpdate
    
    colors = ['rgb(239, 85, 59)', 'rgb(99, 110, 250)', 'rgb(0, 204, 150)']

    temp_df = q1_final_df[(q1_final_df.Years >= int(from_value))
                       & (q1_final_df.Years <= int(to_value))]

    #Bar Chart
    fig_bar = go.Figure(data=[
        go.Bar(name='Male', x=temp_df.Years, y=temp_df.Male_percentage),
        go.Bar(name='Female', x=temp_df.Years, y=temp_df.Female_percentage),
        go.Bar(name='Unknown', x=temp_df.Years, y=temp_df.Unknown_percentage)
    ],
                       layout = {
                           'title' : 'Percentage of adverse events reported each year by gender'
                       })
    fig_bar.update_xaxes(title_text = 'Years')
    fig_bar.update_yaxes(title_text = 'Percentage')
    fig_bar.update_layout(barmode='group')
    fig_bar.update_layout(showlegend=False)
    

    #Pie Chart
    Count_list = [
        temp_df.Male.sum(),
        temp_df.Female.sum(),
        temp_df.Unknown.sum()
    ]
    Name = ['Male', 'Female', 'Unknown']
    fig_pie = px.pie(q1_final_df,
                     names=Name,
                     values=Count_list,
                     color_discrete_sequence=colors,
                     title = 'All-over percentage of the adverse events by<br>gender over selected time period')

    fig_pie.update_layout(legend_title_text='Gender')
    fig_pie.update_traces(hole=.4, hoverinfo="label+percent+name")

    return fig_bar, fig_pie


@app.callback(
    Output('q2_bar_chart', 'figure'),
    Input('range', 'value'))
#      Input('end', 'value')])
def Update_q2_bar_chart(range):

    if range is None:
        raise PreventUpdate
        
    range = range.split('-')
    
    if len(range) != 2:
        raise PreventUpdate
        
    start = int(range[0])
    end = int(range[1])
    
    if start > end:
        raise PreventUpdate
    
    slice_df = q2_final_df[start-1:end + 1]
    slice_df.sort_values('values', ascending=True, inplace=True)


    #Q2 Bar chart
    fig_bar = px.bar(slice_df,
                     x='values',
                     y=slice_df.index,
                     orientation='h',
                     labels = dict(index = 'Symptoms', 
                                  values = 'No of observations recorded'),
                    title = 'Most frequently Reported Symptoms over entire span')
    return fig_bar


#################          Q3           ############################
@app.callback(
    Output('event_drop_down', 'children'), 
    Input('industries_drop_down', 'value'))
def update_events(industries):
    if industries is None:
        raise PreventUpdate
        
    events = q3_final_df[q3_final_df['Industry Name'].isin(industries)]
    unique_events = events.Events.unique()
    
    return dbc.DropdownMenu(
                        label = 'Select the Events',
                        className = 'events_dropdown',
                        children=[
                            dcc.Checklist(
                                id = 'events_checklist',
                                options=[{
                                    'label': events, 
                                    'value': events
                                } for events in unique_events
                                ],
                                value=['VISITED AN ER',
                                       'VISITED A HEALTH CARE PROVIDER',
                                       'REQ. INTERVENTION TO PRVNT PERM. IMPRMNT.', 'HOSPITALIZATION',
                                       'NON-SERIOUS INJURIES/ ILLNESS', 'LIFE THREATENING', 'DEATH',
                                       'SERIOUS INJURIES/ ILLNESS', 'NONE',
                                       'OTHER SERIOUS (IMPORTANT MEDICAL EVENTS)', 'DISABILITY',
                                       'CONGENITAL ANOMALY'],
                                labelStyle={'display': 'block'}
                            )]
                        )

@app.callback(Output('compare_subplots', 'figure'),
              [Input('industries_drop_down', 'value'),
             Input('events_checklist','value')])
def update_compare_charts(indus_drop,events_drop):
        
    fig = go.Figure()
    for indus in indus_drop:
        compare_df = q3_final_df[q3_final_df['Industry Name'] == indus]
        compare_df = compare_df[compare_df['Events'].isin(events_drop)]
        
        hover_text = []
        bubble_size = []

        for index, row in compare_df.iterrows():
            hover_text.append(('Industry Name: {Industry_Name}<br>'+
                              'Adverse Events: {Events}<br>'+
                              'No of Records: {Count}<br>').format(Industry_Name=row['Industry Name'],
                                                Events=row['Events'],
                                                Count=row['Count']))

            bubble_size.append(math.sqrt(row['Count']))

        compare_df['text'] = hover_text
        compare_df['size'] = bubble_size
        
        
        fig.add_trace(go.Scatter(x=compare_df['Events'],
                                 y=compare_df['Count'],
                                 mode='markers',
                                 text=compare_df['text'],
                                 marker_size=compare_df['size'],
                                 name = indus
                                ))
        
    fig.update_layout(height=600, title_text="Compare Industries the industries with their respective events")
    fig.update_xaxes(title = 'Adverse Events')
    fig.update_yaxes(title = 'No Of Records')
    
    return fig

    
if __name__ == '__main__':
    def open_browser():
        webbrowser.open_new('http://127.0.0.1:8080/')
    open_browser()
    app.run_server(debug=False, use_reloader=False, port='8080')

Dash is running on http://127.0.0.1:8080/

Dash is running on http://127.0.0.1:8080/

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8080/ (Press CTRL+C to quit)
127.0.0.1 - - [08/Dec/2021 11:06:33] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [08/Dec/2021 11:06:33] "GET /_dash-component-suites/dash/deps/polyfill@7.v2_0_0m1638941638.12.1.min.js HTTP/1.1" 200 -
127.0.0.1 - - [08/Dec/2021 11:06:33] "GET /_dash-component-suites/dash/deps/react@16.v2_0_0m1638941638.14.0.min.js HTTP/1.1" 200 -
127.0.0.1 - - [08/Dec/2021 11:06:33] "GET /_dash-component-suites/dash/deps/react-dom@16.v2_0_0m1638941638.14.0.min.js HTTP/1.1" 200 -
127.0.0.1 - - [08/Dec/2021 11:06:33] "GET /_dash-component-suites/dash/deps/prop-types@15.v2_0_0m1638941638.7.2.min.js HTTP/1.1" 200 -
127.0.0.1 - - [08/Dec/2021 11:06:33] "GET /_dash-component-suites/dash_bootstrap_components/_components/dash_bootstrap_components.v1_0_1m1638941731.min.js HTTP/1.1" 200 -
127.0.0.1 - - [08/Dec/2021 11:06:33] "GET /_dash-component-suites/dash/dash-renderer/build/dash_renderer.v2_0_0m1638941638.min.js HTTP/1.1" 200 -
127.0.0.1 - - [08/Dec/2021 11:06:33] "GET /_dash-component-suites/dash/dcc/dash_core_components.v2_0_0m1638941638.js HTTP/1.1" 200 -
127.0.0.1 - - [08/Dec/2021 11:06:33] "GET /_dash-component-suites/dash/dcc/dash_core_components-shared.v2_0_0m1638941638.js HTTP/1.1" 200 -
127.0.0.1 - - [08/Dec/2021 11:06:33] "GET /_dash-component-suites/dash/html/dash_html_components.v2_0_0m1638941638.min.js HTTP/1.1" 200 -
127.0.0.1 - - [08/Dec/2021 11:06:33] "GET /_dash-component-suites/dash/dash_table/bundle.v5_0_0m1638941638.js HTTP/1.1" 200 -
127.0.0.1 - - [08/Dec/2021 11:06:34] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [08/Dec/2021 11:06:34] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [08/Dec/2021 11:06:34] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 200 -
127.0.0.1 - - [08/Dec/2021 11:06:34] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [08/Dec/2021 11:06:34] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -
C:\Users\ThinkPad\anaconda3\envs\novo_nordisk\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

127.0.0.1 - - [08/Dec/2021 11:06:34] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [08/Dec/2021 11:06:34] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [08/Dec/2021 11:06:34] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [08/Dec/2021 11:06:34] "POST /_dash-update-component HTTP/1.1" 200 -